/* Set background color and font style for the page */
* {
  color: white;
}

body {
    background-color: #313030;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }
  
  /* Center the page content */
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Style the heading */
  h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Style the image */
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 5%;
  }

  /* Nav Bar Background */
  .nav-wrapper {
    background: #4d6d9a;
  }

  .gifContainer,
  .picContainer {
    display: flex;
    flex-direction: column;
    padding-top: 3%;
  }

  .btn-large.gifButton {
    max-width: 200px;
    margin: 5%;
    align-self: center;
    background-color: #4d6d9a;
  }

  .btn-large.picButton {
    max-width: 400px;
    margin: 5%;
    align-self: center;
    background-color: #4d6d9a;
  }
  
  .btn-large.gifButton:hover,
  .btn-large.picButton:hover {
    background-color: #4d6d9a;
  }

  form {
    position: absolute;
    align-items: flex-end;
    display: flex;
    margin: auto;
    flex-direction: column;
    right: 15%;
    
  }

  #searchbtn {
    background-color: #4d6d9a;
    padding-left: 20px;
    padding-right: 20px;
  }